*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    background-color: whitesmoke;
}
header{
    padding: 10px 15px 20px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header h1{
    font-weight: bold;
    font-size: 40px;
    color:cornflowerblue;
    margin: 0 ;
}
header a {
text-decoration: none;
color: cornflowerblue;
}
header nav{
    margin: 7px 0;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
header nav ul li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 30px;
}
.about-me{
    color: cornflowerblue;
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
    
}
.self-description{
    width: 900px;
    margin: 0 auto 30px auto;
    overflow: auto;
    background-color: rgb(228, 134, 178);
    
}
.self-description img{
    max-height: 200px;
    float: right;
    margin: right;
    background-color: rgb(228, 134, 178);
}
.self-description p{
    padding: 35px;
    float: left;
    width: 65%; 
    text-align: left;
    background-color: rgb(228, 134, 178);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

.my-work{
    color: cornflowerblue;
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
}
.Projects div {
    width: 900px;
    margin: 0 auto 30px auto;
    overflow: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.horiseon a img{
    width: 400px;
    height: 200px;
    border: solid cornflowerblue 3px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}


.future-project a img{
    width: 400px;
    height: 200px;
    border: solid cornflowerblue 3px;
}
.contact{
    color: cornflowerblue;
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
}
.My-Info img{
    max-height: 100px;
    float: right;
    margin: right;
    display: inline-flex;
    flex-wrap: wrap;
}
.My-Info {
    width: 900px;
    margin: 0 auto 30px auto;
    overflow: auto;
    background-color: rgb(228, 134, 178);
    
}

.My-Info p, .My-Info address {
    margin: left;
    float: left;
    width: 65%; 
    background-color: rgb(228, 134, 178);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;

}

.My-Info address{
    font-size: 20;
}
.My-Info address a {
    background-color: rgb(228, 134, 178);

}
.Done-Work {
    width: 900px;
    margin: 0 auto 30px auto;
    overflow: auto;
    background-color: rgb(228, 134, 178);
    
}
.Done-Work p{
    display: inline-block;
    background-color: rgb(228, 134, 178);
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.resume{
    padding-top: 100px;
    color: cornflowerblue;
    text-align: left;
    font-size: 25px;
    padding-left: 50px;
}

footer div {
    display: flex;
    line-height: 1.5;
    text-align: left;
    color: #39a6b2;
    font-size: 15px;}
